body,html{
    scroll-behavior: smooth;
}

*{
    transition: .3s;
}

body{
    background-color: rgb(21, 30, 40);
    margin: 0;
    background-image: url("../imgs/Logo RDC.png");
    background-size: 40%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 10px;
    padding-top: 2%;
    color: white;
    font-family:'PT Mono', monospace;
}


#blur_container{
    position: absolute;
    width: 80%;
    background-color: rgb(50 70 100 / 60%);
    backdrop-filter: blur(10px);
    z-index: 0;
    left: 10%;
    padding: 10px;
    border-radius: 20px;
    /* align-items: center; */
    /* width: 100%; */
}

#members{
    text-align: center;
}

#title{
    text-align: center;
}

a{
    text-decoration: none;
    color: unset;
}

.link{
    margin-left: 10px;
    margin-right: 10px;
}

.nav.link{
    float: right
}

.nav.link.active{
    border-bottom: 1px solid rgb(255, 255, 255, 0.7);
}

.navbar_titles{
    margin-left: 10px;
    display: initial;
}

.link:hover{
    color: rgb(255, 255, 255, 0.6);
}

.division_line{
    border: none;
    /* border-top: solid 2px rgb(255, 255, 255, 0.5); */
    width: 30%;
}

#social{
    text-align: center;
}

#about{
    display: flex;
    justify-content: center;
}

.content{
    text-align: justify;
    width: 70%;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: #232E33;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    transition: .3s;
    background-color: #b8d9ff;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
    transition: .3s;
    background-color: #8ca6c4;
}



@media screen and (max-width: 375px){
    .link.nav{
        font-size: small;
        float: none;
    }

    .navbar_titles{
        display: none;
    }
    
    .navbar_links{
        margin-top: 10px;
        display: block;
    }
}